*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
	transition: 0.3s;
}

.container{
	width: 90%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

header{
	background-image: url(../img/header_bg.png);
	padding-top: 50px;
	padding-bottom: 50px;
	background-size: cover;
}

.header_head{
	width: 100%;
	height: 55px;
}

.header_logo{
	float: left;
}

.header_menu{
	float: right;	
}

.header_menu-list{
	list-style: none;
}

.header_menu-items{
	display: inline-block;
	margin-left: 40px;
	line-height: 55px;
}

.header_menu-items:first-child{
	margin-left: 0;
}

.header_menu-links{
	font-weight: 700;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	color: #000000;
	border-top: 4px solid rgba(255,96,51,0);
	height: 20px;
	padding-top: 7px;
}

.header_menu-links:hover{
	border-top: 4px solid rgba(255,96,51,1);
}

.header_text{
	margin-top: 20px;
	font-weight: 300;
	font-size: 17px;
	line-height: 1.6;
}

.header_content{
	margin-top: 18%; 
}

.header_caption{
	font-size: 60px;
	font-weight: 900;
}

.header_button{
	margin-top: 35px;
	width: 200px;
	height: 56px;
	background-color: rgba(255,96,51,1);
	border: none;
	font-weight: 300;
	font-size: 20px;
	text-transform: uppercase;
	color: #ffffff;
	cursor: pointer;
}

.header_button:hover{
	background-color: #f45528; 
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.header-scroll{
	margin-top: 230px;
	display: block;
	width: 24px;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	opacity: 0.6;
}


.header-scroll:hover{
	opacity: 1;
}

/*SECTION ABOUT US*/

.aboutus{
	background-color: #00baba;
	padding: 6% 0 6% 0;
	letter-spacing : -.36em;
}

.aboutus_img{
	width: 47%;
	filter: drop-shadow(-15px 15px 15px rgba(0, 0, 0, 0.5));
}

.aboutus_content{
	display: inline-block;
	width: 43%;
	vertical-align: top;
	color: #FFF;
	margin: 10% 0 0 9%;
	letter-spacing: normal;
}

.aboutus_caption{
	font-weight: 700;
	font-size: 90px;
	margin-bottom: 30px;
}

.aboutus_text{
	font-weight: 300;
	font-size: 17px;
}

.aboutus_text-margin{
	margin-top: 20px;
}

/*SECTION Our Services*/

.services{
	background-color: #70bfff;
	padding: 1px 0 1px 0;
}

.services_content{
	list-style: none;
	margin: 180px 0 180px 100px;
	display: inline-block;
	width: 35%;
	height: 460px;
	letter-spacing : -.36em;
}

.services_content-li{
	width: 100%;
	height: 100px;
	background: #FFF;
	margin-bottom: 5%;
	vertical-align: middle;
	box-shadow: -7px 7px 10px rgba(0,0,0,0.3);
}

.services_content-text{
	letter-spacing: normal;
	display: inline-block;
	width: 75%;
	padding-top: 35px;
	vertical-align: top;
	text-align: center;	
	font-size: 20px;
	font-weight: 700;
}

.hr{
	display: block;
	color: #000;
	height: 100px;
}

.services_content-text1{
	padding-top: 25px;
}

.services_content-li:last-child{
	margin-bottom: 0;
}

.services_icons{
	display: inline-block;
	border-left: 1px solid;
	height: 100%;
	width: 25%;
	padding: 26px 0 0 21px;
}

.services_caption{
	vertical-align: top;
	display: inline-block;
	background: url(../img/pomidor_bg.png) no-repeat;
	height: 525px;
	width: 40%;
	position: relative;
	margin: 100px 0 0 16%;
}

.services_caption-text{
	font-weight: 700;
	font-size: 90px;
	position: absolute;
	top: 210px;
	left: -82px;
	color: #fff;
}

.services_content-li:hover .services_icons {
	padding: 26px 0 0 41px;
}

/*SECTION Gallery*/

.gallery{
	background-color: #ffe92f;
	padding: 90px 0 115px 0;
}

.gallery_photoblock1{
	font-size: 0;
	margin-top: 50px;
}

.gallery_photoblock2{
	font-size: 0;
	margin-top: 40px;
}

.gallery_photoitem1{
	width: 65%; 
	display: inline-block;
}

.gallery_photoitem2{
	width: 31%; 
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
}

.gallery_photoitem1 img, .gallery_photoitem2 img, .gallery_photoitem3 img{
	width: 100%;
}

.gallery_photoitem3{
	width: 48%; 
	display: inline-block;
}

.gallery_photoitem2-mrgn{
	margin-top: 34px;
}

.gallery_photoitem3:last-child{
	margin-left: 40px;
}

.gallery-button{
	width: 200px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	background-color: #5585A2;
	border: none;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #FFF;
	display: block;
	margin: 48px auto 0 auto;
	cursor: pointer;
}

.gallery-button:hover{
	background-color: #1f5575;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.gallery_caption-text{
	font-weight: 700;
	font-size: 90px;
	text-align: center;
	margin: 30px 0 50px 0;
}

.gallery_text{
	display: block;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	
}

/* SUBSCRIBE BLOCK */

.subscribe{
	background: url(../img/sub_bg.png) no-repeat;
	background-size: cover;
	padding-bottom: 8%;
	padding-top: 8%;
}

.subscribe_caption{
	font-size: 40px;
	font-weight: 700;
}

.subscribe_text{
	display: block;
	width: 55%;
	margin-top: 30px;
}

.subscribe_input{
	margin-top: 45px;
}

.subscribe_yourmail{
	width: 570px;
	height: 55px;
	border: 1px solid #000;
	padding-left: 20px;
	vertical-align: top;
}

.subscribe_button{
	width: 170px;
	height: 55px;
	background-color: #96B92C;
	-webkit-border-radius: none;
	        border-radius: none;
	border: none;
	color: #fff;
	line-height: 55px;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	vertical-align: top;
	margin-left: 30px;
	cursor: pointer;
}

.subscribe_button:hover{
	background-color: #283047;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}


/* BLOG SECTION */


.blog{
	background-color: #B07CF7;
	padding-top: 3%;
	padding-bottom: 4.5%;
}

.flex-container{
	display: flex;
	margin-top: 50px;
}

.flex1{
	width: 33%;
}

.flex_mrgn{
	margin: 0 auto;
}

.flex-img{
	display: block;
	margin: 0 auto 0 auto;
	width: 370px;
	height: 310px;
}

.blog_caption{
	font-size: 90px;
	color: #FFF;
	text-align: center;
}

.blog-text{
	display: block;
	width: 60%;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	margin-top: 25px;
}

.blog_button{
	width: 170px;
	height: 55px;
	background-color: #f72b3b;
	-webkit-border-radius: none;
	        border-radius: none;
	border: none;
	color: #fff;
	line-height: 55px;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
	margin: 60px auto 0 auto;
	display: block;
	cursor: pointer;
}

.blog_button:hover{
	background-color: #e61829;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}	

/*CONTACT SECTION*/

.contact {
	min-height: 866px;
	background: url("../img/bg-contact.png") no-repeat;
	background-size: cover;
	background-position: 50% 100%; 
}

.contact__title {
	padding-top: 100px;
	text-align: center;
	display: block;
	color: #000;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 900;
	font-size: 90px;
	line-height: 25px;
}

.contact__description {
	display: block;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	color: #000;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 300;
	font-size: 17px;
	line-height: 25px;
}

.contact__form {
	width: 1000px;
	height: 450px;
}

.contact__form__col1 {
	display: inline-block;
	width: 500px;
}

.contact__input {
	width: 100%;
	height: 50px;
	border: none;
	border-left: 5px solid rgba(53, 91, 130, 0);
	background-color: #76d8d7;
	color: #fff;
	font-family: 'Raleway', Arial, sans-serif;
	font-weight: 300;
	font-size: 17px;
	line-height: 25px;
	padding-left: 20px;
	margin-bottom: 15px;
}

.contact__input:focus {
	font-weight: 900;
	border-left: 5px solid rgba(53, 91, 130, 1);
	background-color: #00c4c4;
}

.contact__form__col1 textarea {
	resize: none;
	padding-top: 18px;
	height: 180px;
}

::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}

.contact__input:last-child {
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 20px;
	line-height: 27px;
	font-weight: 700;
	cursor: pointer;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.contact__input:last-child:hover {
	background-color: #00c4c4;
}

.contact__form__col2 {
	display: inline-block;
	vertical-align: top;
	margin-left: 170px;
	font-family: 'Raleway', Arial, sans-serif;
	line-height: 25px;
}

.contact__form__title {
	font-size: 17px;
	font-weight: 700;
}

.contact__form__info {
	display: block;
	font-size: 20px;
	margin-top: 7px;
	margin-bottom: 7px;
}

/* FOOTER */

.inline{
	display: inline-block;
}

footer{
	background-color: #262626;
	color: #b9b9b9;
	padding: 1% 0 1% 0;
	font-size: 0;
}

.footer_logo{
	width: 40%;
	font-size: 20px;
	text-align: center;
}

.footer_logo-href{
	text-decoration: none;
	color: #b9b9b9;
	font-family: "Pacifico";
	font-size: 25px;
}

.footer_logo-href:hover{
	color: #fff;
}

.footer_text, .footer_made{
	width: 30%;
	font-size: 15px;
}

.footer_made{
	text-align: right;
}

.footer_made span {
	color: red;
}